In [2]:
import pandas as pd
import numpy as np

# Lab Task 1: Creating Series and DataFrames

# 1. Creating a Series with Middle Eastern countries
middle_east_countries = pd.Series(['Saudi Arabia', 'UAE', 'Qatar', 'Bahrain', 'Kuwait'], 
                                  index=['Iran', 'Iraq', 'Syria', 'Lebanon', 'Jordan'])
print("Middle East Countries Series:\n", middle_east_countries)

# 2. Creating a Series with average height of male and female students
height_series = pd.Series([175, 162], index=['Male', 'Female'])
print("\nHeight Series:\n", height_series)

# 3. Creating a DataFrame for student details
students_df = pd.DataFrame({
    'Name': ['Ali', 'Sara', 'John', 'Mia', 'Ahmed'],
    'Age': [22, 21, 23, 20, 24],
    'Major': ['CS', 'Physics', 'Math', 'Biology', 'Chemistry']
}, index=['S1', 'S2', 'S3', 'S4', 'S5'])
print("\nStudents DataFrame:\n", students_df)

# 4. Creating a DataFrame for sales revenue
sales_df = pd.DataFrame({
    'Product A': [500, 600, 550, 700, 650, 620],
    'Product B': [400, 420, 450, 480, 500, 530],
    'Product C': [300, 320, 330, 340, 350, 360],
    'Product D': [200, 250, 230, 270, 290, 310]
}, index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'])
print("\nSales DataFrame:\n", sales_df)

Middle East Countries Series:
 Iran       Saudi Arabia
Iraq                UAE
Syria             Qatar
Lebanon         Bahrain
Jordan           Kuwait
dtype: object

Height Series:
 Male      175
Female    162
dtype: int64

Students DataFrame:
      Name  Age      Major
S1    Ali   22         CS
S2   Sara   21    Physics
S3   John   23       Math
S4    Mia   20    Biology
S5  Ahmed   24  Chemistry

Sales DataFrame:
      Product A  Product B  Product C  Product D
Jan        500        400        300        200
Feb        600        420        320        250
Mar        550        450        330        230
Apr        700        480        340        270
May        650        500        350        290
Jun        620        530        360        310

In [3]:
# Lab Task 2: Perform Series Indexing

# Selecting row S3 using iloc
selected_row = students_df.iloc[2]
print("\nSelected Row S3:\n", selected_row)

# Selecting physics grade of S2 using loc
grades_df = pd.DataFrame({
    'Math': [85, 90, 78],
    'Physics': [88, 92, 80],
    'Chemistry': [89, 85, 83]
}, index=['S1', 'S2', 'S3'])
physics_grade_s2 = grades_df.loc['S2', 'Physics']
print("\nPhysics Grade of S2:", physics_grade_s2)

# Selecting first three games scores using iloc
players_df = pd.DataFrame({
    'Game1': [10, 15, 20, 12],
    'Game2': [14, 18, 22, 16],
    'Game3': [17, 19, 24, 20],
    'Game4': [22, 25, 30, 28],
    'Game5': [25, 29, 35, 32]
}, index=['P1', 'P2', 'P3', 'P4'])
selected_games = players_df.iloc[:, :3]
selected_p3 = players_df.loc['P3', :]
print("\nSelected First Three Games Scores:\n", selected_games)
print("\nSelected Scores of P3:\n", selected_p3)

Selected Row S3:
 Name     John
Age        23
Major    Math
Name: S3, dtype: object

Physics Grade of S2: 92

Selected First Three Games Scores:
     Game1  Game2  Game3
P1     10     14     17
P2     15     18     19
P3     20     22     24
P4     12     16     20

Selected Scores of P3:
 Game1    20
Game2    22
Game3    24
Game4    30
Game5    35
Name: P3, dtype: int64

In [4]:
# Lab Task 3: Perform DataFrames Indexing

# Selecting height of student S4
heights_series = pd.Series([170, 165, 180, 175, 160, 172], 
                           index=['S1', 'S2', 'S3', 'S4', 'S5', 'S6'])
height_s4 = heights_series.iloc[3]
print("\nHeight of Student S4:", height_s4)

# Selecting chemistry grade of S3
chemistry_grade_s3 = grades_df.loc['S3', 'Chemistry']
print("\nChemistry Grade of S3:", chemistry_grade_s3)

# Selecting revenue for first 6 months and November
revenue_series = pd.Series(np.random.randint(5000, 20000, size=12), 
                           index=['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'])
first_six_months = revenue_series.iloc[:6]
november_revenue = revenue_series.loc['Nov']
print("\nFirst Six Months Revenue:\n", first_six_months)
print("\nNovember Revenue:", november_revenue)

Height of Student S4: 175

Chemistry Grade of S3: 83

First Six Months Revenue:
 Jan     6485
Feb     8738
Mar    17604
Apr    12484
May     5927
Jun    14070
dtype: int32

November Revenue: 10150

In [5]:
# Lab Task 4: Understand and Perform Ufuncs

# Square root of 5 random integers
random_ints = np.random.randint(0, 10, 5)
sqrt_values = np.sqrt(random_ints)
print("\nSquare Root of Random Integers:\n", sqrt_values)

# Exponential of 3 random floating numbers
random_floats = np.random.uniform(-1, 1, 3)
exp_values = np.exp(random_floats)
print("\nExponential Values:\n", exp_values)

# Adding two random integer arrays and multiplying by 5
array1 = np.random.randint(0, 10, 3)
array2 = np.random.randint(0, 10, 3)
added_arrays = np.add(array1, array2)
multiplied_arrays = np.multiply(added_arrays, 5)
print("\nAdded Arrays:\n", added_arrays)
print("\nMultiplied Arrays:\n", multiplied_arrays)

# Sorting an array
random_array = np.random.randint(0, 10, 6)
sorted_array = np.sort(random_array)
print("\nSorted Array:\n", sorted_array)

# Mean and Standard Deviation of an array
random_large_array = np.random.randint(0, 100, 10)
mean_value = np.mean(random_large_array)
std_dev = np.std(random_large_array)
print("\nMean of Array:", mean_value)
print("Standard Deviation of Array:", std_dev)

Square Root of Random Integers:
 [2.44948974 2.23606798 1.73205081 2.64575131 0.        ]

Exponential Values:
 [0.8042066  1.00210286 2.71275096]

Added Arrays:
 [ 5 10 15]

Multiplied Arrays:
 [25 50 75]

Sorted Array:
 [1 1 2 6 7 8]

Mean of Array: 46.9
Standard Deviation of Array: 31.2648364780627

In [7]:
# Home Task

# Identifying missing values
nan_df = pd.DataFrame(np.random.rand(5, 3))
nan_df.iloc[2, 1] = np.nan  # Setting a NaN value
missing_values = nan_df.isna()
print("\nMissing Values in DataFrame:\n", missing_values)

# Dropping rows with missing values
dropna_df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, np.nan],
    'C': [7, 8, 9],
    'D': [np.nan, 11, 12]
})
dropna_cleaned = dropna_df.dropna()
print("\nDataFrame after Dropping NaN Rows:\n", dropna_cleaned)

# Filling NaN values with column mean
fillna_df = pd.DataFrame({
    'Col1': [10, 15, np.nan, 20, 25, np.nan],
    'Col2': [5, 8, 12, np.nan, 15, 18]
})
fillna_df['Col1'] = fillna_df['Col1'].fillna(fillna_df['Col1'].mean())
print("\nDataFrame after Filling NaN with Column Mean:\n", fillna_df)

Missing Values in DataFrame:
        0      1      2
0  False  False  False
1  False  False  False
2  False   True  False
3  False  False  False
4  False  False  False

DataFrame after Dropping NaN Rows:
    A    B  C     D
1  2  5.0  8  11.0

DataFrame after Filling NaN with Column Mean:
    Col1  Col2
0  10.0   5.0
1  15.0   8.0
2  17.5  12.0
3  20.0   NaN
4  25.0  15.0
5  17.5  18.0